body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 74px;
    background-color: black;
    text-align: center;
}

#logo {
    padding-left: 55px;
    float: left;
}

#top-right {
    float: right;
    padding-top: 29px;
    padding-right: 55px;
    margin: 0 auto;
}

.links {
    text-decoration: none;
    color: #FEF5EB;
    margin: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.linkbutton {
    background-color: transparent;
    border: 3px solid #FFCF9A;
    text-decoration: none;
    text-align: center;
    padding: 16px 16px;
    color: #FEF5EB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0 25px 0 25px;
}

.linkbutton:hover {
    color: #121212;
    background-color: #FFCF9A;
    transition: 0.5s;
}

.main-content {
    background-color:#121212;
    width: 100%;
}

.icons {
    margin: auto;
    vertical-align: middle;
    width: fit-content;
    padding: 0 20px 0 20px;
    float: right;
    color: #FEF5EB;
    font-size: 36px;
}

.banner {
    font-family: 'Noto Serif Georgian', serif;
    color: #FFCF9A;
    font-size: 36px;
    font-weight: 600;
    position: relative;
    text-align: center;
}

#bannertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form-design {
    padding: 0 40px 45px 40px;
}

.form-label {
    color: #FEF5EB;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* testimony */
.testimony {
    position: relative;
    text-align: center;
    background: #121212;
}

#testimony-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chevron {
    font-size: 36px;
    color: #FFCF9A;
    position: absolute;
    top: 425px;
    right: 32px;
}

.elipses {
    opacity: 60%;
    color: #FFCF9A;
    font-size: 10px;
    padding-top: 24px;
}

.ratings {
    color: #FFCF9A;
    font-size: 10px;
    padding-top: 24px;
}

p1 {
    font-family: 'Noto Serif Georgian', serif;
    font-size: 36px;
    font-weight: 600;
    color: #FFCF9A;  
}

p2 {
    color: #FEF5EB;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

p3 {
    font-family: 'Noto Serif Georgian', serif;
    font-size: 24px;
    font-weight: lighter;
    color: #FFCF9A; 
}

p4 {
    color: #FFCF9A;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

/* general heading */
p5 {
    text-align: center;
    padding-bottom: 32px;
    color: #FFCF9A;
    font-family: 'Noto Serif Georgian', serif;
    font-size: 36px;
}

p6 {
    text-align: center;
    color: #FEF5EB;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

p7 {
    color: #FFCF9A;
    font-family: 'Noto Serif Georgian', serif;
    font-size: 16px;
}

.button {
    display: inline-block;
    background-color: transparent;
    border: 3px solid #FFCF9A;
    text-decoration: none;
    padding: 16px 16px;
    color: #FEF5EB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 24px;
}

#box {
    background-color: transparent;
    width: 90%;
    height: 318px;
    border: 3px solid #FFCF9A;
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.meet-our-talented-chefs {
    width: 100%;
    background-color: #121212;
    padding-top: 128px;
    text-align: center;
}

#i {
    padding-top: 65px;
    margin-left: 89px;
}

#reserve-table {
    background-color: #121212;
    height: 469px;
    border: 3px solid #FFCF9A;
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reserve-table {
    background-color: #121212;
    height: 469px;
    border: 3px solid #FFCF9A;
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* for reservation inputboxes */
label{
    color: #FEF5EB;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.outer-box {
    background-color: transparent;
    border: 3px solid #FFCF9A;
    padding-top: 43px;
    padding-bottom: 61px;
}

#reservationheader {
    font-family: 'Noto Serif Georgian', serif;
    font-size: 36px;
    font-weight: 600;
    color: #FFCF9A;
}

/*footer*/
p {
    color: #FEF5EB;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.icon {
    font-size: 20px;
    color: #FFCF9A;
    margin: 5px;
}

.social-media-icons {
    background-color: black;
    text-align: center;
    width: 100%;
}

.form-control::placeholder {
    color: #FFCF9A !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}